@import url('https://fonts.cdnfonts.com/css/gotham-6');
*{
    margin: 0;
    font-family: 'Gotham', sans-serif;
}

body{
    background-image: url(https://nyuad.nyu.edu/en/events/2022/november/master-of-fine-arts-open-studio/_jcr_content/eventdetail/image.img.jpg);
    background-size: cover;
    background-position: left;
    overflow-x: hidden;
}
.header{
    width: 100%;
    background-color: #57068c;
    top: 0;
    left: 0;

}
.header ul{
    text-align: center;
    padding-inline-start: 0px;
}
.header ul li{
    list-style: none;
    display: inline-block;
}
.header ul li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 25px;
}
.video{
    text-align: center;
    overflow: hidden; 
}
.video video{
    border: 2px solid;
    border-radius: 5px;
}
.intro{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}
.intro h1{
    font-size: 80px;
    color: white;
    text-shadow: 2px 2px 2px #000;
}
.intro h2{
    color: white;
    text-shadow: 2px 2px 2px #000;
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 50px;
}
.whitespace{
    width: 100%;
    background-color: white;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px -10px 10px;
    display: grid;
    grid-template-columns: 30vw 40vw 30vw;
}
.gridItemText{
    margin-top: 20px;
    grid-column: 2;
}
.gridItemText h2{
    margin-top: 20px;    
}